include topmenu
include bottom_bar
block content
head
	title Test
	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

	link(rel='stylesheet' href='/../chosen/docsupport/style.css')
	link(rel='stylesheet' href='/../chosen/docsupport/prism.css')
	link(rel='stylesheet' href='/../chosen/chosen.css')
	link(rel='stylesheet' href='/../bootstrap/css/bootstrap.min.css')
	link(rel='stylesheet' href='/../bootstrap/css/bootstrap-theme.min.css')
	link(rel='stylesheet' href='/../css/style.css')
	link(rel='stylesheet' href='/../css/animate.min.css')
	link(rel='stylesheet' href='/../css/animate.css')
	link(rel='stylesheet' href='/../bootstrap/css/bootstrap-select.min.css')
	//- link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
	link(rel='stylesheet' href='/../font-awesome-4.7.0/css/font-awesome.css')
	
	link(rel='stylesheet' href='/../jquery-ui-1.12.1/jquery-ui.css')
	link(rel='stylesheet' href='/../datatables/css/jquery.dataTables.css')



body

	
	script(src='/../jquery-ui-1.12.1/external/jquery/jquery.js')
	script(src='/../jquery-ui-1.12.1/jquery-ui.min.js')

	script(src='/../js/all.js')
	script(src='/../bootstrap/js/bootstrap.min.js')
	script(src='/../datatables/js/jquery.dataTables.js')
	script(src='/../bootstrap/js/bootstrap-select.min.js')
	script(src='/../chosen/chosen.jquery.js')
	script(src='/../chosen/docsupport/prism.js')
	script(src='/../chosen/docsupport/init.js')
	script(src='/../js/accounting.js')
	script(src='/../js/all.js')
	script(src='/../js/functions.js')
	script(src='/../js/moment.js')
	script(src='/../datatables/js/jquery.dataTables.js')
	script(src='/../js/jquery.autocomplete.min.js')

	//- script(src='/../css/font-awesome-5.0.13/js/fontawesome-all.js')
	//- script(src='/../css/font-awesome-5.0.13/js/fa-v4-shims.js')
	

	+topmenu
	+bottom_bar