include layouts/header
include groupbody
include mixins/modal-save-record
include mixins/groupContactsTable
include mixins/groupProjectsTable
include mixins/groupOwnersTable


.container.page-data
	form.form-horizontal(id="add_group" method="post" action="/groups/save_new/" enctype="multipart/form-data")
		
		.div(style={'margin-top': '70px', 'margin-bottom': '70px'})
			.form-group.form-row(style={'padding-left': '0px', 'padding-right': '0px'})
				.col-md-12.mygroupheader
					.h5 GROUPS
						.btn-group-sm.float-right(role="group")
							button.btn.btn-primary.fa.fa-arrow-left#cancel(type='button')
							button.btn.btn-primary.fa.fa-save(type='button' data-toggle="modal" data-target=".save-record")
			.editAdSection
				+groupbody(group)




+modal-save-record

script(type='text/javascript').
	$(document).ready(function() {
		  
			var needToConfirm = false; 
			$("select,input,textarea").change(function() {
				needToConfirm = true;
				console.log('needToConfirm ==' + needToConfirm);
			});

			$("body").on("click", "#cancel", cancel);

			$(window).on("beforeunload", function(e) {
				console.log('beforeunload');

				if(needToConfirm==true) {
					var message = "Are you sure you want to leave?";
					e.returnValue = message;
					return message;
				}
				return;
			});
			localStorage.removeItem("editedGroupOwners");
			localStorage.removeItem("deletedGroupOwners");
			localStorage.removeItem("editedGroupContacts");
			localStorage.removeItem("deletedGroupContacts");
			localStorage.removeItem("editedGroupProjects");
			localStorage.removeItem("deletedGroupProjects");
			addImagesToTableRows('groupContactsTable');
			addImagesToTableRows('groupProjectsTable');
			addImagesToTableRows('groupOwnersTable');


		$('#save-confirm').click(function(e){
			
			if (!FormValidation()) {return;}
			
			e.preventDefault();
			needToConfirm = false; 
			$(window).off("beforeunload")

			SaveGroup(); 
		});


		function SaveGroup() {

			var objMetaData = {table: 'groupContactsTable', 
								selectorName: 'select[name=groupContacts]', 
								editedListName: 'editedGroupContacts'};
			SaveGeneralTable(objMetaData);

			var objMetaData = {table: 'groupProjectsTable', 
								selectorName: 'select[name=groupProjects]', 
								editedListName: 'editedGroupProjects'};
			SaveGeneralTable(objMetaData);

			objMetaData = {table: 'groupOwnersTable', 
								selectorName: 'select[name=groupOwner]', 
								editedListName: 'editedGroupOwners'};
			SaveGroupOwnersTable(objMetaData);
			
			var actionurl = '/groups/save_new/';
			var formData =  $("#add_group").serializeArray();
			
			if (localStorage.getItem("editedGroupContacts") != null) {
				var editedGroupContacts = JSON.parse(localStorage["editedGroupContacts"]);
				formData.push({name: "editedGroupContacts", value: JSON.stringify(editedGroupContacts)});
			}

			if (localStorage.getItem("editedGroupProjects") != null) {
				var editedGroupProjects = JSON.parse(localStorage["editedGroupProjects"]);
				formData.push({name: "editedGroupProjects", value: JSON.stringify(editedGroupProjects)});
			}
			if (localStorage.getItem("editedGroupOwners") != null) {
				var editedGroupOwners = JSON.parse(localStorage["editedGroupOwners"]);
				formData.push({name: "editedGroupOwners", value: JSON.stringify(editedGroupOwners)});
			}

			$.ajax({
				url: actionurl,
				type: 'post',
				data: formData,
				success: function(data) {
					console.log('success');
					window.location = data;
				},
				error: function() { console.log('error');}
			});
		};
	});

	function cancel() {
		window.location.href = '/groups';  
	};