include layouts/header
include mixins/modal-save-record
include orderbody
include mixins/modal-select-product

.container.page-data
	form.form-horizontal(id="add_order" method="post" action="/orders/add" enctype="multipart/form-data")
				
		.div(style={'margin-top': '70px', 'margin-bottom': '70px'})
			.form-group.form-row(style={'padding-left': '0px', 'padding-right': '0px'})
				.col-md-12.mygroupheader
					.h5 ADD ORDER
						.btn-group-sm.float-right(role="group")
							button.btn.btn-primary.fa.fa-arrow-left#cancel(type='button')
							button.btn.btn-primary.fa.fa-save(type='button' data-toggle="modal" data-target=".save-record")

			.editAdSection
			
				+orderbody(project,keywords)


+modal-save-record
+modal-select-product

script(type='text/javascript').
	$(document).ready(function() {

		var productRow;
		var needToConfirm = false; 

		$("body").on("click", "#cancel", cancel);	

		$("select,input,textarea").change(function() {
			needToConfirm = true;
		});
		$(window).on("beforeunload", function(e) {
			if(needToConfirm==true) {
				var message = "Are you sure you want to leave?";
				e.returnValue = message;
				return message;
			}
			return;
		});


		$('#addNewProduct').click(function(e){	
			$('#modal-select-product').modal('toggle');
		});

		$('#product-confirm').click(function(e){
			var productID = $('input[name="selectedproductid"]').val();	
			console.log(productID);
			console.log(productRow);
		});

		$('#orderItemsTable tbody').on( 'click', 'tr', function () {
			if ( $(this).hasClass('selected') ) {
				$(this).removeClass('selected');
			}
			else {
				orderItemsTable.$('tr.selected').removeClass('selected');
				$(this).addClass('selected');
			}
		});

		$('#orderItemsTable tbody').on( 'click', '#remove', function () {
			orderItemsTable.row('.selected').remove().draw( false );
			return false;
		} );

		//- $('#orderItemsTable').on( 'click', 'tbody td', function () {
		//- 	orderItemsTable.cell( this ).edit();  // EP: for edit need to use the edit_plugin!
		//- });

		$('#productTable tbody').on( 'click', 'tr', function () {
			var selectedRow = productTable.row(this).data();
			productRow = {
				OrderItemID: -1,
				ProductId: selectedRow.Id,
				Description: selectedRow.Description,
				ItemNumber: selectedRow.ItemNumber,
				Price: selectedRow.Price,
				Qty: 3,
				Total: 0
			}

			orderItemsTable.row.add(productRow).draw(false);
		});



		$('#save-confirm').click(function(e){
			e.preventDefault();
			Save(); 
		});


		function Save(){
			needToConfirm = false; 
			$(window).off("beforeunload");


			var formData = 	$("#add_order").serializeArray();
			var orderItems = $('#orderItemsTable').dataTable().fnGetData();
			formData.push({name: "orderItems", value: JSON.stringify(orderItems)});

			var actionurl = '/orders/save_new';
			$.ajax({
					url: actionurl,
					type: 'post',
					data: formData,
					success: function(data) {
						console.log('success');
						window.location = data;
					},
					error: function() {	console.log('error');} 
			});
		};


	//-------------------------------

		var productTable = $('#productTable').DataTable( {
				"dServerSide": true,
				"bProcessing": true,
				"sAjaxSource": "/allproductsSS",
				"sServerMethod": "GET",
				"sAjaxDataProp": "aaData",
				"aoColumns": [
					{"mData": "ItemNumber","width": "20%"},
					{"mData": "Description","width": "80%"},
					{"targets": -1,
						"mData": null,
						 "defaultContent": "<a style='margin-left:1em;' id='edit' class='fa fa-pencil' href=''>"  
						} 
				]
		});

	//-------------------------------

		var orderItemsTable = $('#orderItemsTable').DataTable( {
				"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
				"bPaginate": true,
				"bLengthChange": false,
				"aoColumns": [ 
					{"mDataProp": "ItemNumber","width": "15%"},
					{"mDataProp": "Description","width": "35%"},
					{"mDataProp": "Price","width": "10%"},
					{"mDataProp": "Qty","width": "10%"},
					{"mDataProp": "Total", "width": "20%",
						mRender: function(data, type, row){	
								var iData = $.fn.dataTable.render.number(',', '.', 2, '$').display(row.Qty * row.Price);
								return iData;
							}
					},
					{"targets": -1,
						"data": null,
						 "defaultContent": "<a style='margin-left:1em;' id='edit' class='fa fa-pencil' href=''></a></a><a style='margin-left:1em;' id='remove' class='fa fa-trash' href=''></a>"  
						}
					]									  
		});


		//- var orderItemsTable = $('#orderItemsTable').DataTable( {
		//- 		"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
		//- 		"bPaginate": true,
		//- 		"bLengthChange": false,
		//- 		"columns": [ 
		//- 			{"data": "ItemNumber","width": "15%"},
		//- 			{"data": "Description","width": "35%"},
		//- 			{"data": "Price","width": "10%"},
		//- 			{"data": "Qty","width": "10%"},
		//- 			{"data": "Total","width": "20%"},
		//- 			{"targets": -1,
		//- 				"data": null,
		//- 				 "defaultContent": "<a style='margin-left:1em;' id='edit' class='fa fa-pencil' href=''></a></a><a style='margin-left:1em;' id='remove' class='fa fa-trash' href=''></a>"  
		//- 				}
		//- 			]									  
		//- });



	//-----------------------------

		//- $('#productTable tbody').on( 'click', '#edit', function () {
		//- 	var data = table.row( $(this).parents('tr') ).data();
		//- 	window.location.href = '/orders/edit/' + data['OrderID'];
		//- 	return false;
		//- } );

		$('#productTable tbody').on( 'click', 'tr', function () {

				if ( $(this).hasClass('selected') ) {
					$(this).removeClass('selected');
				}
				else {
					productTable.$('tr.selected').removeClass('selected');
					$(this).addClass('selected');
					var data = productTable.row( $(this) ).data();
					var productID = data['Id'];
					$('input[name="selectedproductid"]').val(productID);	
				}
		} );


	//-------------------------------


	});

	function cancel() {
		window.location.href = '/orders';  
	};

