include layouts/header
include mixins/modal-save-record
include subprojectbody
include mixins/principalInvestigatorsTable
include mixins/subProjectManagersTable
include mixins/coInvestigatorsTable
include mixins/collaboratorsTable
include mixins/finRepsTable
include mixins/subProjectCoFundersTable
include mixins/finOfficersTable
include mixins/subProjectBudgetTable
include mixins/otherPersonnelTable


.container.page-data
	form.form-horizontal(id="edit_subproject" method="post" action="/projects/save_newsubproject" enctype="multipart/form-data")
				
		.div(style={'margin-top': '70px', 'margin-bottom': '70px'})
			input.form-control(type='hidden' id='ProjectID' name='ProjectID' value=projectID)

			.form-group.form-row(style={'padding-left': '0px', 'padding-right': '0px'})
				.col-md-12.mygroupheader
					.h5 ADD SUBPROJECT
						.btn-group-sm.float-right(role="group")
							button.btn.btn-primary.fa.fa-arrow-left#cancel(type='button')
							button.btn.btn-primary.fa.fa-save(type='button' data-toggle="modal" data-target=".save-record")
			.editAdSection
				+subprojectbody(subproject,subProjectBudget)


+modal-save-record



script(type='text/javascript').
	$(document).ready(function() {

		$("body").on("click", "#cancel", cancel);	

		var needToConfirm = false; 
		$("select,input,textarea").change(function() {
			needToConfirm = true;
		});

		$(window).on("beforeunload", function(e) {
			if(needToConfirm==true) {
				var message = "Are you sure you want to leave?";
				e.returnValue = message;
				return message;
			}
			return;
		});              


		$('#BudgetAmendedDate,#MOUStartDate,#MOUEndDate,#MOUExtendedOnDate').datepicker({ autoclose: true, dateFormat: 'M d, yy', todayHighlight: true });

		localStorage.removeItem("editedPrincipalInvestigators");
		localStorage.removeItem("deletedPrincipalInvestigators");

		localStorage.removeItem("editedSubProjectManagers");
		localStorage.removeItem("deletedSubProjectManagers");

		localStorage.removeItem("editedCoInvestigators");
		localStorage.removeItem("deletedCoInvestigators");

		localStorage.removeItem("editedFinReps");
		localStorage.removeItem("deletedFinReps");

		localStorage.removeItem("editedFinOfficers");
		localStorage.removeItem("deletedFinOfficers");

		localStorage.removeItem("editedCollaborators");
		localStorage.removeItem("deletedCollaborators");

		localStorage.removeItem("editedSubProjectBudget");
		localStorage.removeItem("deletedSubProjectBudget");


		$(document).on('change click','select[name=investigators]', function(){
			var row = $(this).parent().parent();
			console.log('Id=' + $(this).val());
			var id = $(this).val();
			$.get( '/institutionByContact/' + id, function(data) {
				var options = '';
				for(var obj in data) {
					if (data[obj].hasOwnProperty('InstitutionID')) {
						var id = data[obj]['InstitutionID'];
						var name = data[obj]['InstitutionName'];
						options += '<option value="' + id + '">' + name + '</option>';		
					}
				}
				console.log('options *** ' + options);
				$(row).find('td').each(function(){
					$(this).find('select[name=piInstitutions]').each(function(){ 
						$(this).html(options);
					});
				});
			});
		});

					
		TransformSubProjectBudgetToCoFunders();

		$(document).on('change paste click', '.numbersOnly', function () { 
			TransformSubProjectBudgetToCoFunders();
		});
		$(document).on('change click', 'select[name=managed]', function () { 
			TransformSubProjectBudgetToCoFunders();
		});
		$(document).on('change paste click','.numbersOnly', function () { 
			TransformSubProjectBudgetToCoFunders();
		});

		addImagesToTableRows('principalInvestigatorsTable');
		addImagesToTableRows('subProjectManagersTable');
		addImagesToTableRows('coInvestigatorsTable');
		addImagesToTableRows('finRepsTable');
		addImagesToTableRows('finOfficersTable');
		addImagesToTableRows('collaboratorsTable');
		addImagesToTableRows('subProjectBudgetTable');

		$(this).find('input[class=numbersOnly]').each(function(){ 
			$(this).val(accounting.formatMoney($(this).val())); 
		});
						

		$('#save-confirm').click(function(e){
			if (!FormValidation()) {return;}
			e.preventDefault();
			SaveProject();	
		});

		function SaveProject(e){

			$(window).off("beforeunload");

			var objMetaData;
			objMetaData = {table: 'principalInvestigatorsTable', 
							selectorName: 'select[name=principalInvestigators]', 
							editedListName: 'editedPrincipalInvestigators'};
			SaveGeneralTable(objMetaData);
	
			objMetaData = {table: 'subProjectManagersTable', 
							selectorName: 'select[name=subProjectManagers]', 
							editedListName: 'editedSubProjectManagers'};
			SaveGeneralTable(objMetaData);
			
			objMetaData = {table: 'coInvestigatorsTable', 
							selectorName: 'select[name=coInvestigators]', 
							editedListName: 'editedCoInvestigators'};
			SaveGeneralTable(objMetaData);	  
			
			objMetaData = {table: 'collaboratorsTable', 
							selectorName: 'select[name=collaborators]', 
							editedListName: 'editedCollaborators'};
			SaveGeneralTable(objMetaData);					  

			objMetaData = {table: 'finRepsTable', 
							selectorName: 'select[name=finReps]', 
							editedListName: 'editedFinReps'};
			SaveGeneralTable(objMetaData);					  

			objMetaData = {table: 'finOfficersTable', 
							selectorName: 'select[name=finOfficers]', 
							editedListName: 'editedFinOfficers'};
			SaveGeneralTable(objMetaData);						  

			SaveSubProjectBudgetTable();

			var projectID = $('input[name="SubProjectID"]').val();
			var actionurl = '/projects/save_newsubproject/'+ projectID;
			var formData = 	$("#edit_subproject").serializeArray();


			if (localStorage.getItem("editedPrincipalInvestigators") != null) {
				var editedPrincipalInvestigators = JSON.parse(localStorage["editedPrincipalInvestigators"]);
				formData.push({name: "editedPrincipalInvestigators", value: JSON.stringify(editedPrincipalInvestigators)});
			}

			if (localStorage.getItem("deletedPrincipalInvestigators") != null) {
				var deletedPrincipalInvestigators = JSON.parse(localStorage["deletedPrincipalInvestigators"]);
				formData.push({name: "deletedPrincipalInvestigators", value: JSON.stringify(deletedPrincipalInvestigators)});
			}

			if (localStorage.getItem("editedSubProjectManagers") != null) {
				var editedSubProjectManagers = JSON.parse(localStorage["editedSubProjectManagers"]);
				formData.push({name: "editedSubProjectManagers", value: JSON.stringify(editedSubProjectManagers)});
			}

			if (localStorage.getItem("deletedSubProjectManagers") != null) {
				var deletedSubProjectManagers = JSON.parse(localStorage["deletedSubProjectManagers"]);
				formData.push({name: "deletedSubProjectManagers", value: JSON.stringify(deletedSubProjectManagers)});
			}

			if (localStorage.getItem("editedCoInvestigators") != null) {
				var editedCoInvestigators = JSON.parse(localStorage["editedCoInvestigators"]);
				formData.push({name: "editedCoInvestigators", value: JSON.stringify(editedCoInvestigators)});
			}

			if (localStorage.getItem("deletedCoInvestigators") != null) {
				var deletedCoInvestigators = JSON.parse(localStorage["deletedCoInvestigators"]);
				formData.push({name: "deletedCoInvestigators", value: JSON.stringify(deletedCoInvestigators)});
			}

			if (localStorage.getItem("editedFinReps") != null) {
				var editedFinReps = JSON.parse(localStorage["editedFinReps"]);
				formData.push({name: "editedFinReps", value: JSON.stringify(editedFinReps)});
			}

			if (localStorage.getItem("deletedFinReps") != null) {
				var deletedFinReps = JSON.parse(localStorage["deletedFinReps"]);
				formData.push({name: "deletedFinReps", value: JSON.stringify(deletedFinReps)});
			}

			if (localStorage.getItem("editedFinOfficers") != null) {
				var editedFinOfficers = JSON.parse(localStorage["editedFinOfficers"]);
				formData.push({name: "editedFinOfficers", value: JSON.stringify(editedFinOfficers)});
			}

			if (localStorage.getItem("deletedFinOfficers") != null) {
				var deletedFinOfficers = JSON.parse(localStorage["deletedFinOfficers"]);
				formData.push({name: "deletedFinOfficers", value: JSON.stringify(deletedFinOfficers)});
			}

			if (localStorage.getItem("editedCollaborators") != null) {
				var editedCollaborators = JSON.parse(localStorage["editedCollaborators"]);
				formData.push({name: "editedCollaborators", value: JSON.stringify(editedCollaborators)});
			}

			if (localStorage.getItem("deletedCollaborators") != null) {
				var deletedCollaborators = JSON.parse(localStorage["deletedCollaborators"]);
				formData.push({name: "deletedCollaborators", value: JSON.stringify(deletedCollaborators)});
			}
			
			if (localStorage.getItem("editedSubProjectBudget") != null) {
				var editedSubProjectBudget = JSON.parse(localStorage["editedSubProjectBudget"]);
				formData.push({name: "editedSubProjectBudget", value: JSON.stringify(editedSubProjectBudget)});
			}

			if (localStorage.getItem("deletedSubProjectBudget") != null) {
				var deletedSubProjectBudget = JSON.parse(localStorage["deletedSubProjectBudget"]);
				formData.push({name: "deletedSubProjectBudget", value: JSON.stringify(deletedSubProjectBudget)});
			} 

			$.ajax({
					url: actionurl,
					type: 'post',
					data: formData,
					success: function(data) {
						console.log('success');
						window.location = data;
					},error: function() {	console.log('error');}
			});

		};
	});

	function cancel() {
		var ProjectID = $('input[name="ProjectID"]').val();
		window.location.href = '/projects/edit/'+ProjectID;  
	};
