include layouts/header
include mixins/modal-save-record
include orderbody
include mixins/modal-select-product

.container.page-data
	form.form-horizontal(id="add_order" method="post" action="/orders/add" enctype="multipart/form-data")
				
		.div(style={'margin-top': '70px', 'margin-bottom': '70px'})
			.form-group.form-row(style={'padding-left': '0px', 'padding-right': '0px'})
				.col-md-12.mygroupheader
					.h5 ADD ORDER
						.btn-group-sm.float-right(role="group")
							button.btn.btn-primary.fa.fa-arrow-left#cancel(type='button')
							button.btn.btn-primary.fa.fa-save(type='button' data-toggle="modal" data-target=".save-record")

			.editAdSection
				button.btn.btn-primary.btn-sm#addNewProduct(type='button' name='addNewProduct') Add New Product
				+orderbody(project,keywords)


+modal-save-record
+modal-select-product

script(type='text/javascript').
	$(document).ready(function() {

		$("body").on("click", "#cancel", cancel);	

		var needToConfirm = false; 
		$("select,input,textarea").change(function() {
			needToConfirm = true;
		});
		$(window).on("beforeunload", function(e) {
			if(needToConfirm==true) {
				var message = "Are you sure you want to leave?";
				e.returnValue = message;
				return message;
			}
			return;
		});


		$('#addNewProduct').click(function(e){	
			//$('input[name="selectedproductid"]').val(0);
			$('#modal-select-product').modal('toggle');
		});

		$('#product-confirm').click(function(e){
			var productID = $('input[name="selectedproductid"]').val();	
			console.log(productID);
		});


		$('#save-confirm').click(function(e){
			e.preventDefault();
			Save(); 
		});


		function Save(){
			needToConfirm = false; 
			$(window).off("beforeunload");

			var objMetaData;
			objMetaData = {table: 'projectLeadersTable', 
							selectorName: 'select[name=projectLeaders]', 
							editedListName: 'editedProjectLeaders'};

			var formData = 	$("#add_order").serializeArray();

			var actionurl = '/orders/save_new';
			$.ajax({
					url: actionurl,
					type: 'post',
					data: formData,
					success: function(data) {
						console.log('success');
						window.location = data;
					},
					error: function() {	console.log('error');} 
			});
		};


	//-------------------------------

		var table = $('#productTable').DataTable( {
				"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
				"bPaginate": true,
				"bLengthChange": false,
				"ajax": {
							"type"   : "GET",
							"url"    : '/allproducts',
							"dataSrc": ""
							},
				"columns": [ 
					{"data": "ItemNumber","width": "20%"},
					{"data": "Description","width": "80%"},
					{"targets": -1,
						"data": null,
						 "defaultContent": "<a style='margin-left:1em;' id='edit' class='fa fa-pencil' href=''></a>"  
						} 
					]									  
		});
		
		//- $('#productTable tbody').on( 'click', '#edit', function () {
		//- 	var data = table.row( $(this).parents('tr') ).data();
		//- 	window.location.href = '/orders/edit/' + data['OrderID'];
		//- 	return false;
		//- } );

		$('#productTable tbody').on( 'click', 'tr', function () {

				if ( $(this).hasClass('selected') ) {
					$(this).removeClass('selected');
				}
				else {
					table.$('tr.selected').removeClass('selected');
					$(this).addClass('selected');
					var data = table.row( $(this) ).data();
					var productID = data['Id'];
					$('input[name="selectedproductid"]').val(productID);	
				}
		} );


	//-------------------------------


	});

	function cancel() {
		window.location.href = '/orders';  
	};

