include layouts/header
include mixins/modal-save-record
include mixins/modal-validation-alert

.container.page-data
	form.form-horizontal(id="changepassword" name="changepassword" method="post" action="/users/changepassword/" enctype="multipart/form-data")
		
		.well(style={'margin-top': '90px', 'margin-bottom': '70px'})
			input.form-control(type='hidden' id='idx' name='idx' value=user.UserID)
			
			.editAdSection
				.form-group.form-row
					.col-md-6.mx-auto
						input.form-control.required(type='password' id='Password' name='Password'  placeholder='password' value=((data) ? data.Password : '') required)
						input.form-control.required(type='password' id='ConfirmPassword' name='ConfirmPassword'  placeholder='confirm password' value=((data) ? data.Password : '') required)
						button.btn.btn-primary.pull-right(type='button' id='submit' style={width: '30%'}) Save

+modal-save-record
+modal-validation-alert


script(type='text/javascript').
	$(document).ready(function() {


		$('#submit').click(function(e){
			
			var IsValid = FormValidation();
			if (!IsValid) {return;}
			
			e.preventDefault();
			needToConfirm = false; 
			$(window).off("beforeunload")
			
			PreSaveUser();
		});

		var needToConfirm = false; 
		$("select,input,textarea").change(function() {
			needToConfirm = true;
			console.log('needToConfirm ==' + needToConfirm);
		});
		
		$(window).on("beforeunload", function(e) {
			console.log('beforeunload');

			if(needToConfirm==true) {
				var message = "Are you sure you want to leave?";
				e.returnValue = message;
				return message;
			}
			return;
		});

		function PreSaveUser() {
			var re = /^\w+$/;
			var formData = {
				'Password' : $('input[name=Password]').val(),
				'ConfirmPassword' : $('input[name=ConfirmPassword]').val()
			};
			
			if(formData.Password = "" || (formData.Password != formData.ConfirmPassword)) {
				alert("Error: Please check that you've entered and confirmed your password!");
				return;
		 	}

			SaveUser();
		};

		function checkPassword(str){
			// at least one number, one lowercase and one uppercase letter
			// at least six characters that are letters, numbers or the underscore
			var re = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])\w{6,}$/;
			return re.test(str);
		};

		function SaveUser() {
			var formData =  $("#changepassword").serializeArray();
			var userID = $('input[name="idx"]').val();
			var actionurl = '/users/changepassword/'+userID;
			
			$.ajax({
				url: actionurl,
				type: 'post',
				data: formData,
				success: function(data) {
				console.log('success');
				window.location = data;
				},
				error: function() { console.log('error');}
			});
		};


	});


	