mixin groupbody(group)

	fieldset.mygroup
		legend.mygroup Group
		.form-group.form-row
			label.col-sm-2.col-form-label(for='GroupName' ) Group Name
			.col-sm-10
				input.form-control(type='text' id='GroupName' name='GroupName'  value=((group) ? group.GroupName : '') required)


		.form-group.form-row
			label.col-sm-2.col-form-label(for='Notes' ) Description
			.col-sm-10
				textarea.form-control(rows='4' id='Notes' name='Notes')
					| #{((group) ? group.Notes : '')}	

		.form-group.form-row
			.col-sm
				+groupOwnersTable(groupOwners,users)

		.form-group.form-row
			.col-sm
				+groupContactsTable(contacts,groupContacts)

