include layouts/header

.container.page-data
	form(method='POST' action='/login' enctype='multipart/urlencoded')

		.col-md-3.mx-auto
			.editAdSection(style={'margin-top': '90px'})
				input.form-control.required(type='text' id='UserName' name='UserName'  placeholder='login name' required)
				input.form-control.required(type='password' id='Password' name='Password'  placeholder='password' required)
				button.btn.btn-primary.pull-right(type='submit' id='submit' style={width: '30%'}) Login
		
				if (message.length > 0)
					#alert
						p= message
