mixin orderbody(order)

	ul.nav.nav-tabs(role="tablist")
		li.nav-item
			a.nav-link.active(href="#overview", role="tab", data-toggle="tab" ) Order Overview

	.tab-content(style={'margin-top':'20px'})
		.tab-pane.active(id="overview" role="tabpanel")

			fieldset.mygroup
				legend.mygroup Main
				.row
					label.col-sm-2.col-form-label(for='OrderNo' ) Order Number
					.col-sm-4
						input.form-control(type='text' id='OrderNo' name='OrderNo' value=((order) ? order.OrderNo : '')   required  )

				.row
					label.col-sm-2.col-form-label(for='OrderStatus') Order Status
					.col-sm-4
						select.form-control(id='OrderStatusID' name='OrderStatusID' data-placeholder='')
							each item in orderStatus
								option(value=item.ID selected=((order) ? order.OrderStatusID==item.ID : NULL)) #{item.Description}
		
				.row
					label.col-sm-2.col-form-label(for='Vendor' ) Vendor
					.col-sm-4
						select.form-control(id='VendorID' name='VendorID' data-placeholder='')
							each item in vendors
								option(value=item.ID selected=((order) ? order.VendorID==item.ID : NULL)) #{item.Name}
