body {
  margin:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background:#eee;
  width:100%;
  height:auto;
}
*{

    border-radius:0px;
}

#orderItemsTable th
,#allOrdersTable th
,#productTable th
,#allProductsTable th
{
    background:#005596;
    color: white;
}

fieldset.mygroup {
    border: 1px groove rgb(75, 71, 71) !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

    legend.mygroup {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width:auto;
        padding:0 10px;
        border-bottom:none;
    }

a.disabled {
    pointer-events: none;
    cursor: default;
 }
 
 select[aria-invalid="true"],input[aria-invalid="true"], textarea[aria-invalid="true"] {
    border: 1px solid #f00;
    box-shadow: 0 0 4px 0 #f00;
  }

  
td.details-control:before {
content: "\f114";
font-family: "FontAwesome";
cursor: pointer;
}

tr.details td.details-control:before {
content: "\f115";
font-family: "FontAwesome";
cursor: pointer;
}

.navbar {
    background-color: #005596;
    
}

.navbar-light .navbar-nav .nav-link {
    color: #d6e2ec;
}

ul.navbar-nav{

    padding-top: 20px;
    Xvertical-align: middle;
 }
    
 .navbar-brand {
    padding: 0;
  }
  .navbar-nav .nav-link {
    padding-top: 0;
    padding-bottom: 0;
    height: 20px;
    line-height: 20px;

  }

  li.nav-item {
    list-style-type: none;
}

#imaginary_container{
    margin-top:20%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}



.img-responsive {
    width: auto;
    height: 100px;
	margin-top:5%;
	margin-bottom:10%;
}

.img-responsive2 {
    width: auto;
	min-height: 80%;
	margin-top:5%;
	margin-bottom:10%;
}

p.pull-right {
	 height: 2%;
}

h3.post-header {
	 min-height: 10%;
}
.img.center-block.img-responsive {
	min-height: 80%;
}
img.center-left.img-responsive {

    min-height: 80%;
}

p.post-text {
	 min-height: 5%;
}

p.fa.fa-dollar {
	min-height: 3%;
}

.box {
    padding: 0 10px 0 10px;
}
.box .inner {
    background-color: #fff;
}

.red{
	background-color: #63798d;
	color: white;
}

/* #wrapper{

    margin-top:30px;
    width:90%;
    min-height:900px;
    margin-left:5%;
    border:1px solid #ddd;
    background:#fff;

} */

/* .adImage {
    display: block;
    float: left;
    margin: 0.2em 0.5em 0.5em 0;
    width: 100px;
    height: 75px;
    overflow: hidden;
    background-position: 50% 50%;
    text-decoration: none;
}


.adRow {
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;

}

.adContent {
    padding-left: 110px;
}

.adTitle {
    display: block;
    margin-bottom: 0.25em;
}

.adText {
    display: block;
    overflow: hidden;
    line-height: 1.4;
} */

.required {
    background-color: #FFFFB9;
}

/* .editAdSection  {
    Xmax-width: 700px;
} */

/* .editAdFieldSet  {
    margin-right: 10px;
    margin-bottom: 1.5em;
    clear: both;
    width: 100%;
    Xmax-width: 700px;
}

.editAdFieldSet textarea,input[type=text] {
    Xwidth: 95%;
} */


progress.show,                         /* Firefox  */ 
progress.show[role][aria-valuenow] {    /* Polyfill */
   /* Turns off styling - not usually needed, but good to know. */
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  /* gets rid of default border in Firefox and Opera. */
  border: solid #cccccc 1px;
  border-radius: 3px;
  /* Dimensions */
   height: 10px;
}

/* Chrome */
progress.show::-webkit-progress-bar {
    background: #ffeeee;
    display: block;  
}

progress.noshow{
  display: none;
}

  
.form-control {
    padding-right: 30px;
}

.form-control + .glyphicon {
    position: absolute;
    right: 0;
    padding: 8px 27px;
}


/* legend {
  float: left;
  width: 100%;
  padding: 0;
  font-weight: bold;
} */

/* fieldset {
  border: 2px ;
} */

/* .rowItem {
    width: 90%;
	padding: 10px 10px 10px 10px;
} */


/* .col {
    float: left;
}
.row {
    width: 100%;
}
.col.half {
    width: 50%;
}
.col.third {
    width: 33.33%;
}
.col.full {
    width: 100%;
} */


.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.Xspanclass {
    height: 250px;

}

.thumb {
    height: 150px;
    width: 150px;
    border: 1px solid transparent;
	margin: 10px 0px 10px 10px;
	position: relative;
    
    object-fit:scale-down;
}

.galleryImage {
    height: 75px;
    margin: 10px 0px 10px 10px;
	
}
.mainImage {
    Xwidth: 250px;
    margin: 5px 0px 5px 5px;
	
}

.btn-submit {
  position: relative;
  overflow: hidden;
}

.btn-submit input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
} 




.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
} 

.mygroupheader {
    margin: 0px;
    background-color:#005596;
    color: white;
}

.bg-primary {
    padding: 0 2px 2px 10px;
    margin-right: 10px;
    /* background-color: #506fa3; */
    /* background-color: #a02b37; */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #a02b37;
    /* border-color: #a02b37; */
    background-image: none;
}




td.highlight {
    background-color: whitesmoke !important;
}

/* td.details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../images/details_close.png') no-repeat center center;
} */

/* #postingsTable th
,#myPostingsTable th
{
   background:#91D6ED;
   height: 25px;
   text-align: center;
} */

#allProjectsTable .numbersOnly:before {
  content: "$";
}

#TotalFooter { width: 100%; }

.numbersOnly,.alnright { text-align: right; }

.page-container{padding:20px;}
.page-data{padding:10px;}
.page-header{

    padding:2px;
    padding-left:40px;
    background:#665847;color:#FEFFFD;
}
.data-btn{padding-left:8px}
.data-btn button{
    padding:10px 20px;background:#FF9900;border:1px solid #fff;
    color:#FEFFFD;font-weight:bold;
}

.data-table{padding-left:10px;}
.data-table table{border-collapse:collapse;border:1px solid #ddd;width:100%}
.a-inside{padding:4px 10px;border:1px solid #fff;text-decoration:none;}
.a-inside.edit{background-color:#00CC00;color:#fff;}
.a-inside.delete{background-color:#D23641;color:#fff;}
.a-inside.select{background-color:#006699;color:#fff;}
.cancel{
    background-color:#D23641;color:#fff;
    border:1px solid #d32132;color:#fff;
    padding:8px 35px;font-weight:bold;


}
input[type="submit"]{

    border:1px solid #6599FF;
    color:#fff;
    padding:8px 35px;
    font-weight:bold;
    
}
textarea{ border:1px solid #ddd;width:296px;}
.label{font-weight:bold;}

#footer{margin-left:82%;margin-top:10%}


.form-group{
    padding: 0 20px;
  } 

