mixin modal-save-record

	.modal.fade.save-record(tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true")
		.modal-dialog.modal-dialog-centered
			.modal-content
				.modal-header
					.h5.modal-title Save Record
				.modal-body
					| Do you want to save the changes?
				.modal-footer
					button.btn.btn-primary(type='button' data-dismiss="modal") Cancel
					button.btn.btn-secondary(type='button' id='save-confirm' data-dismiss="modal") Save