mixin modal-validation-alert

	.modal.fade#modal-validation-alert(tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true")
		.modal-dialog.modal-dialog-centered
			.modal-content
				.modal-header
					.h5.modal-title Data validation
				.modal-body
					| This record already exists! 
				.modal-footer
					button.btn.btn-primary(type='button' data-dismiss="modal") OK


				