mixin modal-large

	.modal.fade.delete-record(tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true")
		.modal-dialog.modal-dialog-centered
			.modal-content
				.modal-header
					.h5.modal-title Delete Record
				.modal-body
					| This record will be deleted! 
				.modal-footer
					button.btn.btn-primary(type='button' data-dismiss="modal") Cancel
					button.btn.btn-secondary(type='button' id='delete-confirm' data-dismiss="modal") Delete

				