mixin peopleByInstitutionTable(peopleByInstitution)
	
	table#peopleByInstitutionTable.table-bordered(style='width:100%; table-layout:fixed;')
		thead
			tr
				th(style='width:40%') People
				th(style='width:60%') Role
				
		tbody

			if (peopleByInstitution)
				each item in peopleByInstitution
					tr
						td #{item.FullName}
						td #{item.Role}
