mixin projectCoFundersTable(cofunders)
	
	table#projectCoFundersTable.table-bordered(style='width:100%')
		thead
			tr
				th(style='width:33%') Co-Funder
				th(style='width:33%') TFRI Managed?
				th(style='width:34%') Amount				
		tbody

			if (cofunders)
				each item in cofunders
					tr(id = `${item.ProjectCoFunderID}` )
						td #{item.InstitutionName}
						td #{item.Managed}
						td
							input(type="text" style={width: '100%'} name="budgetamount" value=item.BudgetAmount.toFixed(2) readonly).numbersOnly
		tfoot.foot
			td.font-weight-bold(colspan="2") Total:
			td
				input(type="text" style='width:100%' name="Total" readonly).numbersOnly#TotalFooter
