mixin projectByInstitutionTable(projectByInstitution)
	
	table#projectByInstitutionTable.table-bordered(style='width:100%; table-layout:fixed;')
		thead
			tr
				th(style='width:20%') Project Number
				th(style='width:40%') Project Short Name
				th(style='width:40%') Project Title				
		tbody

			if (projectByInstitution)
				each item in projectByInstitution
					tr
						td #{item.ProjectNumber}
						td #{item.ProjectShortName}
						td #{item.ProjectTitle}
