mixin projectByInsCoFundersTable(projectByInsCoFunders)
	
	table#projectByInsCoFundersTable.table-bordered(style='width:100%; table-layout:fixed;')
		thead
			tr
				th(style='width:20%') Project # (Co-Funder of)
				th(style='width:40%') Project Short Name
				th(style='width:40%') Project Title				
		tbody

			if (projectByInsCoFunders)
				each item in projectByInsCoFunders
					tr
						td #{item.ProjectNumber}
						td #{item.ProjectShortName}
						td #{item.ProjectTitle}
