
SELECT * FROM [Project] WHERE ProjectID =5
SELECT * FROM [SubProject] WHERE SubProjectID =12

--SELECT * FROM SubProjectBudget WHERE SubProjectID =12
SELECT * FROM SubProjectPI WHERE SubProjectID =12
SELECT * FROM [dbo].[SubProjectManager]


